@keyframes logo_animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Fonts */
h1 { 
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 

h3 { 
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p, a { 
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 

blockquote { 
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 

pre { 
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5667px; 
}

body {
    margin: 0;
}

/* Navbar */

#navbar {
    width: 100%;
    position: relative;
    z-index: 10000;
}

.navbar_list {
    margin: 0 auto;
    width: 1170px;
}

.navbar_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.navbar_list ul li {
    float: none;
    display: inline-block;
    padding: 100px 20px;
}

.navbar_list ul li:nth-child(1) {
    float: left;
}

.navbar_list ul li:nth-child(2) {
    float: left;
}

.navbar_list ul li a {
    color: #262626;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.navbar_list ul li a:hover {
    color: red;
    transition: .3s;
}

.navbar .logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 20px;
    content: "";
    margin-left: -200px;
    text-align: center;
}

.navbar .logo img {
    max-width: 200px;
    max-height: 200px;
    animation: logo_animation 1s;
}

.background {
    position: relative;
    background-color: #77c2ae;
    height: 100px;
    border-radius: 50px;
    top: -160px;
    width:85%;
    margin: 0 auto;
    z-index: -1;
}

/* Home */

.home .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.home .flex-container .flex-box {
    border-radius: 50px;
    background-color: #77c2ae;
    display: flex;
    justify-content: center;
}

.home .flex-container .flex-box img {
    width: 400px;
    height: 400px;
    padding: 50px;
}

.home .flex-container .flex-box img:hover {
    transform: scale(1.1);
    transition: ease-in-out .3s;
}
